HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/gecko/2024-11-28/debug-log.0.log
/logs/gecko/debug-log.log
/logs/gecko/error-log.log
/logs/gecko/2024-11-28/info-log.0.log
/logs/gecko/info-log.log
/logs/gecko/warn-log.log
